body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #f1f1f1;
  margin-left: -40px;
  height: 100%;
}

.sidebar {
  margin: 0;
  padding: 50px;
  width: 210px;
  height:700px;
  background-color:white;
  /* position: fixed; */
  /* height: 90%; */
  overflow: auto;
  border-radius:0px 50px 30px 30px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-family: General Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 1px;
text-align: left;

}
 
.sidebar a.active {
    
  color: #D04D8B;
}

.sidebar a:hover:not(.active) {
  
  color: #D04C8D;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  display: block;
  background-color:#f1f1f1 ;
}

 .content .symbol img{
   width: 50px;
   height: 50px;
  float: right;
  }
 #mynext img{
  
   height: 43.41796875px;
width: 102px;
left: 70px;
top: 85.5078125px;
border-radius: 0px;

  }
  #mynext p{ 
    color: #D04D8B;
    font-family: General Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align:right; 
margin-left: 45px;
margin-top: -10px;

  }
.symbol img{
  width: 10px;
  height: 10px;
  padding: 10px;
}
.content .symbol{
  
  margin-top: -650px;
   
}
.good h1{
margin-top: -600px;
margin-left: 20px;
font-family: General Sans;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
}
 .col-md-4{
 /* background-color: red;
 height: 100px;
 width: 200px; */
 position: absolute;
width: 306px;
height: 113px;
left: 700px;
top: 170px;
margin-left: 40px;
/* text-align: left; */
border-radius: 30px;
background-color: #FFFFFF;
margin-left: -50px;

}
.col-md-4 p{
  margin-left: 10px;
color: #D04D8B;
font-family: General Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
}
.col-md-4 h1{
  font-family: General Sans;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 54px;
letter-spacing: 0em;
text-align: left;

}

.col-md-3{
  position: absolute;
  width: 306px;
  height: 113px;
  top: 170px;
  text-align: left;
  border-radius: 30px;
  background-color: #FFFFFF;
  margin-left: 40px;
  
  
}
.col-md-3 p{
  margin-left: 10px;
  color: #D04D8B;
}
.col-md-2{
  position: absolute;
  width: 306px;
  height: 113px;
  left: 1200px;
  top: 170px;
  text-align: left;
  border-radius: 30px;
  background-color: #FFFFFF;
  margin-left: -140px;
  
}
.col-md-2 p{
  margin-left: 10px;
  color: #D04D8B;
}
.result .col-md-4{
  height: 890px;
  width: 331px;
  background-color: white ;
  margin-top: 150px;
  margin-left: -480px;
  
}
.col-md-4 h4{
  text-align: center;
  color: #D04D8B;
  margin-top: 10px;
  font-family: General Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: center;

}
.result img{
  height: 265.3235778808594px;
width: 265.3235778808594px;
left: 500px;
top: 415px;
border-radius: 0px;

}
.result ul{
  margin-top: 50px;
  padding: 80px;
}
ul li::before {
  content: "\2022";
  color: #44439E;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.result li{
  font-family: General Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #374151;

}
.result .col-md-3{
  height: 450px;
  width: 702px;
  background-color: white;
  margin-left: 490px;
  margin-top: 150px;
  padding: 20px;
}
.result .col-md-3 h3{
  margin-left: 20px;
  padding: 30px;
  font-family: General Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;

}
.result .col-md-3 p{
  font-family: General Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color:#374151 ;
}
.result .col-md-3 h5{
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #6B7280;
;
}
.result .col-md-2{
  height: 400px;
  width: 700px;
  background-color: white;
  margin-left: -540px;
  margin-top: 650px;
}
.result .col-md-2 h3{
  margin-left: 20px;
  padding: 30px;
  font-family: General Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;

}

.footer{

border: 1px #C9C9C9 solid;
margin-top: 1200px;
}
.chart img{
  height: 212px;
  width: 650px;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}