body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #f1f1f1;
    /* height: 100%; */
    height: 2000px;
  }
  
  .sidebar {
    margin: 0;
    padding: 50px;
    width: 210px;
    height:700px;
    background-color:white;
    /* position: fixed; */
    /* height: 90%; */
    overflow: auto;
    border-radius:0px 50px 30px 30px;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-family: General Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
  
  }
   
  .sidebar a.active {
      color: #D04D8B;
  }
  
  .sidebar a:hover:not(.active) {
   color: #D04C8D;
  }
  #mynext img{
 height: 43.41796875px;
 width: 102px;
 left: 70px;
 top: 85.5078125px;
 border-radius: 0px;
 
   }
   #mynext p{ 
color: #D04D8B;
font-family: General Sans;
 font-size: 18px;
 font-style: normal;
 font-weight: 600;
 line-height: 24px;
 letter-spacing: 0em;
 text-align:right; 
 margin-left: 45px;
margin-top: -10px;
 }

 div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 1000px;
    display: block;
    background-color:#f1f1f1 ;
  }
   .content .symbol img{
     width: 50px;
     height: 50px;
    float: right;
    }

    .symbol img{
        width: 10px;
        height: 10px;
        padding: 10px;
      }
      .content .symbol{
        
        margin-top: -650px;
         
      }
      .good h1{
      margin-top: -600px;
      font-family: General Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 590;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #D04C8D;
      }
      .logo{
        height: 167  6px;
        width: 976px;
        left: 389px;
        top: 180px;
        border-radius: 44px;
        background-color: #FFFFFF;
        margin-top: 50px;
        
      }
      .logo .col-md-4{
          background-color: white;
          height: 200px;
          width: 200px;
          left: 480px;
          top: 264px;
          border-radius: 0px;
          margin-left: 50px;
          }
          .logo .col-md-5{
              background-color: #FFFFFF;
              margin-top: -180px;
              margin-left: 340px;
              height: 300px;
              width: 600px;
            }
            .logo .col-md-5 h1{
                font-family: General Sans;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px;
                letter-spacing: 0em;
                text-align: left;
}
.logo .col-md-5 p{
    font-family: General Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.over p{
    font-family: General Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #D04C8D;
margin-left: 50px;

}
.over h6{
    margin-left: 850px;
    margin-top: -50px;
}
.lorem p{
    margin-top: 30px;
    font-family: General Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    margin-left: 30px;
}
.lorem h6{
    margin-left: 30px;
    font-family: General Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}
.lorem .col-md-1 a{
    margin-top: -1px;
    font-family: General Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}
.lorem h5 {
    margin-left: 230px;
    margin-top: -60px;
    
}
 .col-md-2 p{
    background-color: turquoise;
    margin-left: 800px;
    margin-top: -60px;
    text-decoration: underline;
    font-family: General Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #D04C8D;
}
.contact{
    height: 430px;
width: 848px;
left: 458px;
top: 1009px;
border-radius: 33px;
background-color:#FDFDFD;

}
.contact p{
    font-family: General Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #D04C8D;
margin-left: 50px;
margin-top: 60px;
}
.contact h6{
    margin-top: 50px;
    margin-left: 40px;
    color: #878787;
}
.contact h5{
    margin-left: 800px;
    margin-top: -70px;
    font-family: General Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #D04C8D;
text-decoration: underline;
}
.person p{
    color: #202020;
}
.hr p{
   margin-top: 25px;
   color: black;
}
.zain p{
    margin-top: 25px;
    color: black;
}
.location p{
    margin-left: 50px;
    margin-top: 60px;
    font-family: General Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #D04C8D;
}
.location h6{
    margin-left: 850px;
    margin-top: -50px;
}
.primary p{
    
    margin-left: 40px;
    margin-top: 40px;
    color: #696969;
}
.primary b{
    font-family: General Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
     margin-left: 40px;
     margin-top: 50px;
    
}
.primary h5{
    font-family: General Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #D04C8D;
    margin-left: 50px;
    margin-top: 60px;
}
.primary img{
margin-left: 870px; 
margin-top: -300px;

}
.footer{

    border: 1px #C9C9C9 solid;
    margin-top: 250px;
  
    }